* {
  padding: 0;
  margin: 0;
  background-color: #434c5e;
  border-color: #88c0d0;
  color: #e5e9f0;
}

#root {
 font-size: 18px;
}

@media screen and (min-width: 700px) {
  #root {
  font-size: 22px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

button,
select,
option {
  cursor: pointer;
}

.App {
  text-align: center;
}

@media screen and (min-width: 960px) {
  .App {
    max-width: 1200px;
    margin: 0 auto;
  }
}

h1 {
  font-size: 3.6rem;
  margin: 1.8rem 0.6rem 0 0.6rem;
}

.Title {
  margin-bottom: 2.4rem;
}

.logged-user {
  font-size: 1.2rem;
  font-style: italic;
  margin: 0.6rem 1.2rem 1.2rem 0;
  text-align: right;
}

@media screen and (min-width: 960px) {
  .logged-user {
    font-size: 1.6rem;
  }
}

.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 750px;
  margin: 0 auto;
}

.Navigation-button-random {
  padding: 0.4rem;
  font-size: 1rem;
}

.TopicDropdown-label {
 margin-right: 0.6rem;
}

.ArticleList {
  margin-top: 0.8rem;
  padding: 0.8rem;
}

@media screen and (min-width: 700px) {
  .ArticleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 1.2rem;
  margin-bottom: 1.6rem;
  }
}

.Link {
  color: inherit;
  text-decoration: none;
}

.ArticleCard {
  border: 1px solid #88c0d0;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 700px) {
  .ArticleCard {
    width: 300px;
  }
}

.article-card-date {
  text-align: right;
}

.article-card-title {
  text-align: center;
  margin-top: 0.6rem;
}

.article-card-author-topic {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 0.6rem;
}

.article-card-votes-comments {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.2rem;
}

.ArticleList-pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -1rem;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 2.4rem;
}

.ArticleList-pagination > button {
  padding: 0.4rem;
  font-size: 1rem;
}

.ArticleList-pagination > button:disabled {
  visibility: hidden;
}

.ArticleList-pagination > p {
  font-size: 1.4rem;
}

.Article {
  display: grid;
  grid-template-columns: max-content 2fr max-content max-content;
  grid-template-rows: max-content max-content 1.6rem max-content 2fr max-content;
  margin: 1.2rem;
  border: 2px solid #e5e9f0;
  border-radius: 5px;
  padding: 0.6rem 0.6rem 0.6rem 1.8rem;
}

.Article-button {
  background-color: inherit;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.Article-button:disabled {
  color: #4c566a;
}

.Article-button-top {
  grid-column: -1;
  grid-row: 1;
  align-self: start;
}

.Article-button-bottom {
  grid-column: -1;
  grid-row: -1;
  align-self: end;
}

.Article-topic {
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
  font-weight: bold;
  font-size: 1rem;
  color: #88c0d0;
  border-bottom: 1px solid #8fbcbb;
}

@media screen and (min-width: 960px) {
  .Article-topic {
    font-size: 1.2rem;
  }
}

.Article-date {
  grid-column: 4;
  grid-row: 3;
  align-self: end;
  margin-right: -1.2rem;
}

.Article-title {
  grid-column: 2 / 5;
  grid-row: 4;
  align-self: end;
  margin-top: 0.4rem;
}

.Article-author {
  grid-column: 2;
  grid-row: 5;
  justify-self: start;
  align-self: end;

  font-weight: bold;
  font-style: italic;
  margin-top: 1.6rem;
}

.Article-body {
  grid-column: 2 / 5;
  grid-row: 6;
  align-self: start;

  text-align: left;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.Article-voting {
  grid-column: 1;
  grid-row: -1;
  justify-self: start;

  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
}

.Article-arrow {
  font-weight: bold;
  font-size: inherit;
  color: #88c0d0;
}

.Article-comments {
  grid-column: 2 / 5;
  grid-row: -1;

  margin-top: 1.4rem;
}

.Article-comments > button {
  font-size: 0.8rem;
  padding: 0.4rem;
}

@media screen and (min-width: 700px) {
  .Article-comments > button {
    font-size: 1rem;
  }
}

.PostComment {
  display: grid;
  align-items: center;
  justify-items: start;
}

.PostComment > button {
  font-size: 0.8rem;
}

.Comments {
  text-align: left;
  font-size: 1.2rem;
  margin-top: 4rem;
  padding-top: 0.8rem;
  border-top: 1px solid #e5e9f0;
}

.Comments > h3 {
  margin-bottom: 1.2rem;
}

.Comments-new-input {
  padding: 1rem;
  margin: 0.6rem 0;
  min-height: 8rem;
  width: 93%;
  max-width: 600px;
  font-size: 1rem;
}

.Comments-new-button {
  margin-bottom: 1.2rem;
  padding: 0.4rem;
  width: 8rem;
}

.CommentCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, max-content);
  row-gap: 0.8rem;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  max-width: 1000px;
}

.CommentCard-author {
  grid-column: 1;
  grid-row: 1;
  font-size: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (min-width: 700px) {
  .CommentCard-author {
    font-size: 1.4rem;
  }
}

.CommentCard-button {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #88c0d0;
}

.CommentCard-button:disabled {
  color: #4c566a;
}

.CommentCard-button-delete {
  color: #bf616a;
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  font-size: 1.2rem;
}

.CommentCard-voting {
  grid-column: 1;
  grid-row: 3;
  justify-self: start;

  display: flex;
}

.CommentCard-minus {
  margin-right: 0.4rem;
}

.CommentCard-plus {
  margin-left: 0.4rem;
}

@media screen and (min-width: 700px) {
  .CommentCard-minus, .CommentCard-plus {
    font-size: 1.4rem;
  }
}

.CommentCard-date {
  grid-column: 3;
  grid-row: 3;
  justify-self: end;
  align-self: center;
  font-size: 0.95rem;
}

@media screen and (min-width: 700px) {
  .CommentCard-date {
    font-size: 1.1rem;
  }
}

.CommentCard-body {
  grid-column: 1 / 4;
  grid-row: 2;
}

.info-message {
  font-size: 1rem;
  text-align: center;
}

.success-message {
  color: #a3be8c;
  font-size: 1rem;
  text-align: center;
}

.error-message {
  font-size: 1rem;
  text-align: center;
  color: #bf616a;
}

.ErrorPage {
  font-size: 3.2rem;
  text-align: center;

  padding: 2.4rem;
}

.QueryBar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 1.2rem;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.QueryBar-link {
  font-size: 1.4rem;
}

.SortByDropdown {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: max-content;
  grid-column-gap: 1rem;
  margin-right: 1.2rem;
}

.sort-label {
  grid-column: 1;
  grid-row: 1;
}

.sort-select {
  grid-column: 2;
  grid-row: 1;
}

.OrderToggle {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: max-content;
  grid-column-gap: 1rem;
  accent-color: #88c0d0;
}

.OrderToggle-label-asc {
  grid-column: 1;
}

.OrderToggle-radio-asc {
  cursor: pointer;
  grid-column: 2;
}

.OrderToggle-label-desc {
  grid-column: 3;
}

.OrderToggle-radio-desc {
  cursor: pointer;
  grid-column: 4;
}

.LimitDropdown {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: max-content;
  grid-column-gap: 1.2rem;
}

.limit-label {
  grid-column: 1;
  grid-row: 1;
}

.limit-select {
  grid-column: 2;
  grid-row: 1;
}

select {
  padding: 0.2rem;
  text-align: center;
  font-size: 1rem;
}

.ErrorPage-back {
  margin-top: 2.4rem;
  font-size: 2.4rem;
}